#git rm --cached .classpath
#git rm -r --cached .settings

#Linux
*~

#Windows
Thumbs.db

# Maven
log/
target/

#arquivo temporario
temp/

# Eclipse
.classpath
.project
.settings/
bin/
.metadata/

*.class

# Package Files #
*.jar
*.war
*.ear


